<div>
    <h1>Test Management</h1>
</div>
<div>
    <button class="button">Add Tests</button>
    <br>
</div>
<div>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>Srishti</td>
            <td>test1</td>
            <td>1000</td>
        </tr>
        <tr>
            <td>Srishti</td>
            <td>test1</td>
            <td>1000</td>
        </tr>
        <tr>
            <td>Srishti</td>
            <td>test1</td>
            <td>1000</td>
        </tr>
        <tr>
            <td>Srishti</td>
            <td>test1</td>
            <td>1000</td>
        </tr>
    </table>
</div>