<div>
    <h1>Admin Management</h1>
</div>
<div>
    <button class="button">Add Admins</button>
</div>
<div>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Password</th>
            <th>Department</th>
        </tr>
        <tr>
            <td>Srishti</td>
            <td>admin1</td>
            <td>pwd123</td>
            <td>IT</td>
        </tr>
        <tr>
            <td>Srishti</td>
            <td>admin1</td>
            <td>pwd123</td>
            <td>IT</td>
        </tr>
        <tr>
            <td>Srishti</td>
            <td>admin1</td>
            <td>pwd123</td>
            <td>IT</td>
        </tr>
        <tr>
            <td>Srishti</td>
            <td>admin1</td>
            <td>pwd123</td>
            <td>IT</td>
        </tr>
    </table>
</div>