<div>
    <h1>Customer Management</h1>
</div>
<div>
    <button class="button">Add Customers</button>
</div>
<div>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Age</th>
            <th>Gender</th>
        </tr>
        <tr>
            <td>Srishti</td>
            <td>Kolkata</td>
            <td>21</td>
            <td>Female</td>
        </tr>
        <tr>
            <td>Srishti</td>
            <td>Kolkata</td>
            <td>21</td>
            <td>Female</td>
        </tr>
        <tr>
            <td>Srishti</td>
            <td>Kolkata</td>
            <td>21</td>
            <td>Female</td>
        </tr>
        <tr>
            <td>Srishti</td>
            <td>Kolkata</td>
            <td>21</td>
            <td>Female</td>
        </tr>
    </table>
</div>
